.fade.in {
  opacity: 1;
}
.stick-to-bottom {
  position: absolute;
  bottom: 0;
}
.border-3 {
    border-width:3px !important;
}
.pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}
.mh-75 {
  min-height:75%;
}
.height-200 {
  height: 200px;
}
.height-300 {
  height: 300px;
}
.shops-big-list {
  height:100%;
  overflow-y: scroll;
}
.sidebar-sticky {
    position: relative;
    top: 0px;
    height: calc(100vh - 55px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
